.dev-tabs-container {

    .tabs-wrapper {
        width: 100%;
        height: 40px;
        margin: 0px;
        padding: 0px;
        display: inline-block;
        .tab {
            display: inline;
            padding: 10px 20px;
            font-weight: 500;
            margin: 0 5px;
            &:hover {
                color: #0369AC;
                border-bottom: 1px solid #0369AC;
                cursor: pointer;
                opacity: 0.8;
            }
            &.active {
                color: #0369AC;
                border-bottom: 2px solid #0369AC;
                pointer-events: none;
                cursor: none;
            }
        }
    }
}